#root {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}

.app {
  text-align: center;
}

.room {
  font-weight: bold;
}

.turn-message {
  font-weight: bold;
  color: #ffcc00;
}

.wait-message {
  font-weight: bold;
  color: brown;
}

.dots::after {
  content: '';
  display: inline-block;
  width: 1.5em; /* Mantiene la larghezza fissa */
  text-align: left;
  animation: dots 2.5s steps(3, end) infinite;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 75vw;
  padding-bottom: 1vh;
}

.button-move {
  position: fixed;
  bottom: 1.5vh;
  left: 50%;                      /* Move the button to the middle */
  transform: translateX(-50%);     /* Shift it back by half its width to center */
  width: 50vw;                      /* Set the desired width */
  justify-content: center; 
}

.player-scope {
  position: fixed;
  bottom: 23vh;
  left: 0;
  right: 0;
}

/* Definizione dell'animazione */
@keyframes dots {
  0% { content: ''; }
  25% { content: '.'; }
  50% { content: '..'; }
  75% { content: '...'; }
  100% { content: '...'; }
}