.card {
  border: 1px solid #000;
  border-radius: 8px;
  width: 80px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  margin: 5px;
  font-size: 24px;
  color: black;
}
  
.card-suit {
  font-size: 30px;
}

.card-table-image {
  height: 14vh;
}

.card-hand-image {
  height: 13vh;
}

.card-table-image:hover, .card-hand-image:hover {
  cursor: pointer;
  transform: translateY(-1rem) scale(1.05);
  /*box-shadow: 0 8px 12px rgba(0,0,0,0.2);*/
}

.card-value {
  font-weight: bold;
}

.card-selected {
  /*border: 0.5vh solid gold;*/
  transform: translateY(-1rem) scale(1.05);
  box-shadow: 0 0 1rem rgba(255, 215, 0, 0.8);
}