.table {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    bottom: 37.7vh;
    left: 0;
    right: 0;
}

.table-cards {

}